@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  /* ### Primary */

  --Very-dark-blue: hsl(233, 47%, 7%); /*(main background)*/
  --Dark-desaturated-blue: hsl(244, 38%, 16%); /*(card background)*/
  --Soft-violet: hsl(277, 64%, 61%); /*(accent)*/

  /* ### Neutral */
  --White: hsl(0, 0%, 100%); /*(main heading, stats)*/
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75); /*(main paragraph)*/
  --Slightly-transparent-white-stat: hsla(0, 0%, 100%, 0.6); /*(stat headings)*/
  --border-radius: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

h1,
h2,
h3 {
  color: var(--White);
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.card__text {
  color: var(--Slightly-transparent-white);
}

.item__label {
  color: var(--Slightly-transparent-white-stat);
}

.text__accent {
  color: var(--Soft-violet);
}

ul {
  list-style-type: none;
}

html,
body {
  font-size: 62.5%;
  background: var(--Very-dark-blue);
  padding: 5rem 0;
}

.card {
  background: var(--Dark-desaturated-blue);
  width: 90%;
  margin: 0 auto;
  border-radius: var(--border-radius);
  overflow: hidden;
  text-align: center;
  position: relative;
}

.card__image {
  position: relative;
}

.image__header::before {
  content: "";
  display: block;
  background: hsla(277, 99%, 31%, 0.9);
  opacity: 0.5;
  width: 100.3%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__content {
  padding: 4rem 3rem;
}

.card__title {
  font-size: 3rem;
}

.card__text {
  padding: 2rem 0;
  font-size: 1.5rem;
}

.card__list {
  margin-top: 3rem;
}

.card__item + .card__item {
  margin-top: 3rem;
}

.item__counter {
  color: var(--White);
  font-size: 2.5rem;
}

.item__label {
  font-size: 1.25rem;
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
  body {
    padding: 0;
    display: grid;
    height: 100vh;
  }

  .card {
    display: grid;
    grid-template-columns: 51.25% 50%;
    text-align: left;
    width: 82.7%;
    margin: auto;
  }

  .card__content {
    padding: 7.25rem;
    padding-bottom: 6.5rem;
    max-width: 95%;
  }

  .card__image {
    order: 1;
  }

  .card__title {
    font-size: 3.55rem;
    letter-spacing: 0.01rem;
  }

  .card__text {
    line-height: 1.7;
    font-size: 1.46rem;
    padding: 2.5rem 0;
    max-width: 95%;
    letter-spacing: 0.015rem;
  }

  .card__list {
    display: flex;
    gap: 6.6rem;
    align-items: center;
    margin-top: 4.75rem;
  }

  .card__item + .card__item {
    margin-top: 0;
  }

  .item__counter {
    font-size: 2.3rem;
  }

  .item__label {
    margin-top: 0.6rem;
    letter-spacing: 0.025rem;
  }
}
